button[data-destroy] {
  background-color: #ff4e4e;
}

button[data-destroy]:hover {
  background-color: #ff7070;
}

#boxes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 15px;
}
